html {
	background-color: red;
	position: absolute;
	left: 155px;
	top: 150px;
}

button {
	position: absolute;
	top: 300px;
	left: 200px;
	padding: 10px 30px;
	color: white;
	font-size: 30px;
	font-family: calibri;
	background-color: blue;
	}

h1 {
   font-family: arial;
   position: absolute;
   top: 20px;
   left: 30px;
   font-size: 50px;
}

p1 {
	font-size: 20px;
	position: absolute;
	top: 200px;
	left: 50px;
	width: 400px;
	
}

 